:root {
  --air: 15px;
  --gap: 30px;
  --rad: 15px;
  --marg-bot: 30px;
  --new__page: 70px;
  --social__icon: 100px;
  --social__icon-whatsapp: 40px;
  --bg__color: #f7efeb;
  --bg__line: #AA516F;
  --btn__line: #123C69;
  --sh__dark: #000;
  --text__color: #543D34;
  --bg__body: #FFF;
  --svg__color-bl: #000;
  --svg__color-gr: rgb(22, 169, 22);
  --svg__color-red: red;
  --svg__color-blu: #a5c3ec;
  --svg__color-blue: #2865ba;
  --bg__color-hover: #f9eae3;
  --bg__color-activ: #f8e5dc;
  --svg__color-wh: white;
  --font-size__general: 18px;
}
